<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson 06</title>
</head>
<body>
    <form action="#" th:action="@{/06}" th:object="${employee}" method="post">
        First Name: <input type="text" th:field="*{firstName}"/> <br>
        Last Name: <input type="text" th:field="*{lastName}"/> <br>
        SSN: <input type="text" th:field="*{socialSecurityNumber}"/> <br>
        Date of Birth: <input type="date" th:field="*{dateOfBirth}"/> <br>
        <input type="submit" value="Submit" />

    </form>
</body>
</html>