<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson 12</title>
</head>
<body>

    <div th:replace="lesson12base :: header"></div>
    <div th:replace="lesson12base :: navlinks"></div>
    <h2>About Us</h2><br>

    At Joshua Tree Software we strive to create intelligent software using the latest in neuroscience inspired neural networks.<br><br><br>

    <div th:replace="lesson12base :: footer">Copyright 2019</div>




</body>
</html>